@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

#root {
  width: 100%;

  --size-medium: 40px;

  --color-primary: #000;
  --color-background: #fff;

  --border: 1px solid #eee;

  --shadow: 0 1px 2px 0 #0000000d;

  --chat-spacing: 1rem;

  --grid-margin: 1rem;

  --sidebar-width: 240px;
  --chat-width: 720px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Pretendard";
  line-height: 1.6;
  font-weight: 500;
}

input {
  font: inherit;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* layout */
.chatApp {
  height: 100vh;
  /* width: 100vh; */
  display: flex;
  flex-direction: column;
}

.chatHeader {
  display: flex;
  align-items: center;
}

.chatTitle {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  letter-spacing: 0.2px;
}

/* left rooms */
.sidebar {
  width: var(--sidebar-width);
  padding: 1rem;
  box-sizing: border-box;
  /* background: #161618; */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 0;

  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}

.roomsHeader {
  padding: 12px 14px;
  font-size: 12px;
  opacity: 0.8;
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

.roomsList {
  display: flex;
  flex-direction: column;
  /* overflow: auto; */
  width: 100%;
}

.roomBtn {
  width: 100%;
  height: var(--size-medium);
  text-align: left;
  padding: 0.5rem 0.75rem;
  border-radius: 50px;
  font-weight: 500;
  transition:
    transform 0.06s ease,
    background 0.15s ease,
    border 0.15s ease;
}
.menuitem {
  height: var(--size-medium);
  border: 1px solid transparent;
  border-radius: 50px;
  padding: 0rem 0.75rem;
  font-weight: 500;
}
.menuitem:hover,
.roomBtn:hover {
  background: rgba(255, 255, 255, 0.06);
}

.roomBtn:active {
  transform: scale(0.99);
}

.roomBtn.isActive {
  background: rgba(120, 140, 255, 0.18);
  /* border-color: rgba(120, 140, 255, 0.35); */
}

/* right chat */
.chatPanel {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  padding-left: var(--sidebar-width);
  /* background-color: #1b1b1f; */
}

.chatPanelHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background);
  /* // 왜 min */
  min-height: 56px;
  padding: 0 1.5rem;
  font-weight: 600;
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);

  position: sticky;
  top: 0;
}

.chatMessages {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: var(--chat-width);
  margin: 0 auto var(--chat-spacing);
  padding: 1rem var(--grid-margin);
  box-sizing: border-box;
}

/* message bubbles */
.msg {
  max-width: min(520px, 80%);
  margin-bottom: 1rem;
  border-radius: 50px;
  align-self: flex-start;
  text-align: start;
}

.msg.me {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  align-self: flex-end;
  background: #e9e9e9;
}

.msg.error {
  background: rgba(255, 120, 120, 0.18);
  border-color: rgba(255, 120, 120, 0.35);
}

.promptInputContainer {
  position: sticky;
  bottom: var(--chat-spacing);
}

.promptInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--chat-width);
  margin: 0 auto 1rem;
  border-radius: 1rem;
  display: flex;
  gap: 0.5rem;
  padding: 1rem 1rem;
  box-sizing: border-box;
  background-color: #fff;
  border: var(--border);
  box-shadow: var(--shadow);
}

.suggestions {
  display: flex;
  flex-wrap: wrap;
  max-width: var(--chat-width);
  margin: 0 auto;
  gap: 0.5rem;
  padding-bottom: 1rem;
}

.suggestion {
  padding: 0.75rem 1rem;
  border-radius: 50px;
  background-color: var(--color-background);
  border: var(--border);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.075);
  font-weight: 500;
  cursor: pointer;
}

.promptInputTextarea {
  flex: 1;
  height: 40px;
  outline: none;
  background-color: transparent;
  border: 0;
  resize: none;
  font: inherit;
}

.chatInput::placeholder {
  color: rgba(233, 236, 241, 0.45);
}
.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 12px;
  border: none;
  background: transparent;
  cursor: pointer;
}
.sendBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 12px;
  background-color: var(--color-primary);
  color: #fff;
  border-radius: 50%;
}

/* responsive */
@media (max-width: 800px) {
  .sidebar {
    display: none;
  }
  .chatPanel {
    padding-left: 0;
  }
}

.loader {
  margin-top: 50px;
}

.chatLogo {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  gap: 10px;
  justify-self: center;
  align-self: center;
  height: 100%;
}

.chatEmptyIcon {
  width: 50px;
  height: auto;
}

.chatEmptyLogo {
  width: 100px;
  height: auto;
}

.roomListInput:focus {
  outline: none;
}

.roomListInput {
  width: 100%;
  outline: none;
  border: none;
  background: transparent;
  margin-top: 10px;
}
