@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

#root {
  width: 100%;

  --size-medium: 40px;

  --color-primary: #000;
  --color-background: #fff;

  --border: 1px solid #eee;

  --shadow: 0 1px 2px 0 #0000000d;

  --chat-spacing: 1rem;

  --grid-margin: 1rem;

  --sidebar-width: 240px;
  --chat-width: 720px;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Pretendard";
  line-height: 1.6;
  font-weight: 500;
}

input {
  font: inherit;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.roomsList {
  display: flex;
  flex-direction: column;
  /* overflow: auto; */
  width: 100%;
}

.promptInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--chat-width);
  margin: 0 auto;
  border-radius: 1rem;
  gap: 0.5rem;
  padding: 1rem 1rem;
  box-sizing: border-box;
  background-color: #fff;
  border: var(--border);
  box-shadow: var(--shadow);
}

.suggestions {
  display: flex;
  flex-wrap: wrap;
  max-width: var(--chat-width);
  margin: 0 auto;
  gap: 0.5rem;
  padding-block: 1rem;
  background: #fff;
}

.suggestion {
  padding: 0.75rem 1rem;
  border-radius: 50px;
  background-color: var(--color-background);
  border: var(--border);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.075);
  font-weight: 500;
  cursor: pointer;
}

.promptInputTextarea {
  flex: 1;
  height: 40px;
  outline: none;
  background-color: transparent;
  border: 0;
  resize: none;
  font: inherit;
}

.chatInput::placeholder {
  color: rgba(233, 236, 241, 0.45);
}
.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 12px;
  border: none;
  background: transparent;
  cursor: pointer;
}
.sendBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 12px;
  background-color: var(--color-primary);
  color: #fff;
  border-radius: 50%;
}

.loader {
  margin-top: 50px;
}

.roomListInput:focus {
  outline: none;
}

.roomListInput {
  width: 100%;
  outline: none;
  border: none;
  background: transparent;
  margin-top: 10px;
}
